<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/*_context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.fmt.localizationContext
		</param-name>
		<param-value>messages</param-value>
	</context-param>
	<context-param>
		<param-name>caDelegaterBeanName</param-name>
		<param-value>caDelegater</param-value>
	</context-param>
	<context-param>
		<param-name>webModuleID</param-name>
		<param-value>1</param-value>
	</context-param>
	<filter>
		<filter-name>PS_OpenSessionInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>ps_sessionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Encoding_Filter</filter-name>
		<filter-class>org.powerstone.util.EncodingFilter</filter-class>
	</filter>
	
	
	<filter>
       <filter-name>Acegi FilterToBean Proxy</filter-name>
       <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
       <init-param>
           <param-name>targetClass</param-name>
           <param-value>org.acegisecurity.util.FilterChainProxy</param-value>
       </init-param>
	</filter>
	<filter-mapping>
        <filter-name>Acegi FilterToBean Proxy</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>PS_OpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Encoding_Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>business_type</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>flow_meta</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>flow_driver</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>flow_deploy</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>flow_performer</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>work_list</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>flow_monitor</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>user_group</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>role_manage</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>11</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>resource_manage</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>12</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>privilege_manage</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>13</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>flow_meta</servlet-name>
		<url-pattern>*.fm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>business_type</servlet-name>
		<url-pattern>*.bt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flow_driver</servlet-name>
		<url-pattern>*.fd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flow_deploy</servlet-name>
		<url-pattern>*.dpl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flow_performer</servlet-name>
		<url-pattern>*.pfm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>work_list</servlet-name>
		<url-pattern>*.wl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flow_monitor</servlet-name>
		<url-pattern>*.moni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>user_group</servlet-name>
		<url-pattern>*.ca</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>role_manage</servlet-name>
		<url-pattern>*.role</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resource_manage</servlet-name>
		<url-pattern>*.resource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>privilege_manage</servlet-name>
		<url-pattern>*.priv</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
		<taglib-location>/WEB-INF/c-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
		<taglib-location>/WEB-INF/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt_rt</taglib-uri>
		<taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://www.springframework.org/tags</taglib-uri>
		<taglib-location>/WEB-INF/spring.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>
			http://www.springmodules.org/tags/commons-validator
		</taglib-uri>
		<taglib-location>
			/WEB-INF/spring-commons-validator.tld
		</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://www.powerstone.org/powerstone/ca</taglib-uri>
		<taglib-location>/WEB-INF/powerstone-ca.tld</taglib-location>
	</taglib>
</web-app>
