BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-SIZE: 12px;
	BACKGROUND: #FFFFFF;
	MARGIN: 0px;
	COLOR: #000000;
	scrollbar-track-color: #FFFFFF;
	scrollbar-3dlight-color: #eeeeee;
	scrollbar-highlight-color: #f0f0f0;
	scrollbar-face-color: #DDDDFE;
	scrollbar-arrow-color: #000000;
	scrollbar-shadow-color: #999999;
	scrollbar-darkshadow-color: #eeeeee;
}

hr {
	COLOR: #99cc33;

}

A {
	TEXT-DECORATION: none;
	font-size: 12px;
}
A:link {
	COLOR: #008000
}
A:visited {
	COLOR: #008000
}
A:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: none;
	/*BACKGROUND: #E3EECC; */
}
A:active {
	COLOR: #ff0000;
	TEXT-DECORATION: none;
}



UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-BREAK: break-all; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-BREAK: break-all; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}




#divAll {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px auto;
	WIDTH: 100%;
}
#divPage {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	BACKGROUND: #fbfbfb repeat-y center 50%;
	FLOAT: left;
	MARGIN: 0px;
	WIDTH: 100%;
	TEXT-ALIGN: left
}
#divMiddle {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	BACKGROUND: #ffffff;
	FLOAT: left;
	MARGIN: 0px;
	WIDTH: 100%;
	TEXT-ALIGN: left
}

/* logo所在table*/
#tableLogo {
    WIDTH: 100%;
	BACKGROUND: url(default/logoBg.gif) #006633 repeat-x 0px 0px;
	TEXT-ALIGN: center;
	vertical-align: middle;
	border-width: 0px;
	border-spacing: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
}

/* logo图片*/
#logoImg {
    WIDTH: 170px;
	HEIGHT: 30px;
	BACKGROUND: url(default/logo.gif) #006633 repeat-x 0px 0px;
}

/* logo图片右侧显示区设置*/
#tdLogoRight {
    WIDTH: 370px;
	HEIGHT: 30px;
	TEXT-ALIGN: right;
}

/* logo图片右侧功能链接*/
#divLogoRightBar  {
	FLOAT: right;
	WIDTH: 100%;
	TEXT-ALIGN: right;
	vertical-align: middle;
}
#divLogoRightBar H3 {
	DISPLAY: none
}
#divLogoRightBar UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
	TEXT-ALIGN: right;
}
#divLogoRightBar LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	BACKGROUND: url(default/navbg2.gif) no-repeat right 0px;
	FLOAT: left;
	MARGIN: 0px;
	FONT-FAMILY: "宋体","黑体";
	FONT-SIZE: 12px;
}
#divLogoRightBar A {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 6px;
	FLOAT: left;
	MARGIN: 0px;
	HEIGHT: 14px;
	TEXT-DECORATION: none
}
#divLogoRightBar A:link {
	COLOR: white;
}
#divLogoRightBar A:visited {
	COLOR: white
}
#divLogoRightBar A:hover {
	COLOR: red
}
#divLogoRightBar A:active {
	COLOR: red
}

/* logo下方导航条 BACKGROUND: #99cc33 ->b8cece*/
#divNavBar {
	BACKGROUND: #b8cece repeat-x 0px 0px;
	FLOAT: left;
	WIDTH: 100%;
	BORDER-BOTTOM: #969ea4 1px solid;
	HEIGHT: 24px
}
#divNavBar H3 {
	DISPLAY: none
}
#divNavBar UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
}
/* BACKGROUND: #99cc33*/
#divNavBar LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	BACKGROUND: #b8cece repeat-x 0px 0px;
	FLOAT: left;
	MARGIN: 0px;
	FONT-FAMILY: "宋体","黑体";
	FONT-SIZE: 12.5px;
}

/* 空白LI*/
#emptyLI {
    WIDTH: 8px;
}

/* logo下方导航条上没有被选中的功能*/
.divNavBarANotSelected {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 6px;
	FLOAT: left;
	MARGIN: 0px;
	HEIGHT: 14px;
	font-weight: bold;
	TEXT-DECORATION: none
}
/* BACKGROUND: #99cc33*/
.divNavBarANotSelected:link {
	BACKGROUND: #b8cece repeat-x 0px 0px;
	COLOR: black;
	TEXT-DECORATION: none;
}
/* BACKGROUND: #99cc33*/
.divNavBarANotSelected:visited {
	BACKGROUND: #b8cece repeat-x 0px 0px;
	COLOR: black;
	TEXT-DECORATION: none;
}
.divNavBarANotSelected:hover {
	BACKGROUND: url(default/logoBg.gif) #006633 repeat-x 0px 0px;
	COLOR: white;
}
.divNavBarANotSelected:active {
	BACKGROUND: url(default/logoBg.gif) #006633 repeat-x 0px 0px;
	COLOR: white;
}

/* logo下方导航条上被选中的功能*/
.divNavBarASelected {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 6px;
	FLOAT: left;
	MARGIN: 0px;
	HEIGHT: 14px;
	font-weight: bold;
	TEXT-DECORATION: none
}
.divNavBarASelected:link {
	BACKGROUND: url(default/logoBg.gif) #006633 repeat-x 0px 0px;
	COLOR: white;
	TEXT-DECORATION: none
}
.divNavBarASelected:visited {
	BACKGROUND: url(default/logoBg.gif) #006633 repeat-x 0px 0px;
	COLOR: white;
	TEXT-DECORATION: none
}
.divNavBarASelected:hover {
	BACKGROUND: url(default/logoBg.gif) #006633 repeat-x 0px 0px;
	COLOR: white;
	TEXT-DECORATION: none
}
.divNavBarASelected:active {
	BACKGROUND: url(default/logoBg.gif) #006633 repeat-x 0px 0px;
	COLOR: white;
	TEXT-DECORATION: none
}

/*最外层table*/
.tableFrame {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
	FLOAT: right;
	BACKGROUND:  #b1d863 repeat-x 0px 0px;
	WIDTH: 98%;
	HEIGHT: 100%;
	border-width: 0px;
	text-align: right;
}
/*最外层table的第一行*/
.tdTitle {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
	FLOAT: left;
	BACKGROUND:  #b8cece repeat-x 0px 0px;
	border-width: 0px;
	text-align: left;
	vertical-align: middle;
	FONT-FAMILY: "宋体","黑体";
	FONT-SIZE: 12.5px;
	COLOR: #008000;
	HEIGHT: 20px;
}
/*最外层table的内容区*/
.tdContent {
	BACKGROUND:  #FFFFFF repeat-x 0px 0px;
	vertical-align: top;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
}

/**/
.tableNoBorder {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
	border-width: 0px;
	FLOAT: left;
	text-align: center;
	vertical-align: middle;
}

.tableNoBorderCenter {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
	border-width: 0px;
}

/*树形结构*/
.tableTree {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
	border-width: 0px;
	FLOAT: left;
	text-align: left;
	vertical-align: middle;
	BACKGROUND:  #FFFFFF repeat-x 0px 0px;
}
.tdTreeNode {
	FONT-SIZE: 12.5px;
	COLOR: #008000;
	HEIGHT: 20px;
	white-space: nowrap;
}

.tdTreeNodeASelected {
	FONT-SIZE: 12.5px;
        COLOR: red;
        HEIGHT: 20px;
	white-space: nowrap;
}
.tdTreeNodeASelected A {
	TEXT-DECORATION: none;
}
.tdTreeNodeASelected A:link {
	COLOR: red;
}
.tdTreeNodeASelected A:visited {
	COLOR: red
}
.tdTreeNodeASelected A:hover {
	COLOR: red
}
.tdTreeNodeASelected A:active {
	COLOR: red
}

.divCenter {
	FONT-SIZE: 12.5px;
	COLOR: #008000;
	HEIGHT: 20px;
	white-space: nowrap;
	FLOAT: center;
	text-align: center;
	vertical-align: middle
}


/*按钮默认设置*/
.button_default {
		background-color: #e8f7f7;
		font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
		font-size:80%;
		background: #b8cece;
		border-bottom: 1px solid #325e5e;
		border-right: 1px solid #325e5e;
		border-left: 1px solid #b8cece;
		border-top:1px solid #b8cece;
		color:#000000;
		text-decoration:none;
		cursor: hand;
                text-align: center;
		vertical-align: middle
	}

TEXTAREA {
  font-size: 13PX;
  color: #000066;
  border-color: #142794;
  border-style: solid;
  border-width: 1PX;
  background-color: #EEEEEE; }

SELECT {
  font-size: 13PX;
  background-color: #EEEEEE; }

FIELDSET {
  font-size: 13PX;
  color: #000066;
  border-color: #142794;
  border-style: solid;
  border-width: 1PX; }

LABEL {
  font-size: 13PX;
  color: #000066; }

OPTION {
  font-size: 13PX;
  color: #000066; }

OPTGROUP {
  font-size: 13PX;
  color: #000066; }

LEGEND {
  font-size: 13.5PX;
  color: #000066;
  font-weight: bold; }

FORM {
  margin: 0px;
  display: block;
  color: #000066;
  font-size: 13.5PX;
  padding: 0; }

.input1 {
  FONT-SIZE: 13px;
  color: #000066;
  border-color: #bbdd78;
  border-style: solid;
  border-width: 1PX;
  background-color: #FEFEFE;
  height: 18px;
  }

.inputLogin {
  FONT-SIZE: 13px;
  color: #000066;
  border-color: #bbdd78;
  border-style: solid;
  border-width: 1PX;
  background-color: #FEFEFE;
  height: 18px;
  width: 120px;
  }

.textarea1 {
  FONT-SIZE: 13px;
  color: #000066;
  border-color: #bbdd78;
  border-style: solid;
  border-width: 1PX;
  background-color: #FEFEFE; }

.textarea2 {
  FONT-SIZE: 13px;
  color: #000066;
  border-color: #bbdd78;
  border-style: solid;
  border-width: 1PX;
  background-color: #FEFEFE;
  height: 100%;
  width: 100%; }

.select1 {
  width: 100%;
 }

table {
	font-size: 13.5px;
	color: #000000;
	line-height: 20px;
}

.tableList {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
	background-color: #FFFFFF;
	border-collapse:collapse ;
	FLOAT: center;
	text-align: center;
	vertical-align: middle;
	font-size: 13.5px;
	color: #000000;
	line-height: 18px;
	width: 95%;
}

.TDListTitle {
  font-size: 13.5PX;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
  }

.TD2 {
  font-size: 13.5PX;
  color: #008000;
  background-color: #FFFFFF;
  }

.TD3 {
  font-size: 13.5PX;
  color: #008000;
  background-color: #b8cece;
  }

.TD4 {
  font-size: 13.5PX;
  color: #003366;
  background-color: #ffe4b9;
  }
.construction_heading{
  FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
  FONT-SIZE: 13.5PX;
  FONT-WEIGHT:bold;
  BACKGROUND-COLOR: #b8cece;
}
.construction_sub_heading{
  FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
  FONT-SIZE: 13.5PX;
  FONT-WEIGHT:bold;
}

/* style used for welcome page heading */
.welcome-pageheader{
  FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
  MARGIN-BOTTOM: 4pt;
  MARGIN-TOP: 0pt;
  FONT-SIZE:100%;
  FONT-WEIGHT:bold;
  TEXT-ALIGN: left;
  COLOR: #325e5e;
}

.SUCCESS {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  height: 500px;
  vertical-align: bottom;
  BACKGROUND:  #FFFFFF repeat-x 0px 0px;
  PADDING-TOP: 30px;
  }

/* This is the style for the informational messages presented to the form */
div.error, div.message {
    background: #ffc;
    border: 1px solid green;
    color: black;
    font-weight: normal;
    margin: 10px auto;
    padding: 2px;
    padding-left: 4px;
    text-align: left;
    vertical-align: bottom;
}

/* use a different color for the errors */
div.error {
    border: 2px solid red;
}
