<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>dreambike</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/*_context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.fmt.localizationContext
		</param-name>
		<param-value>messages</param-value>
	</context-param>
	<context-param>
		<param-name>caDelegaterBeanName</param-name>
		<param-value>caDelegater</param-value>
	</context-param>
	<context-param>
		<param-name>webModuleID</param-name>
		<param-value>2</param-value>
	</context-param>
	<filter>
		<filter-name>PS_OpenSessionInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>ps_sessionFactory</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>DreamBike_OpenSessionInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter>
		<filter-name>Encoding_Filter</filter-name>
		<filter-class>org.powerstone.util.EncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CA_Filter</filter-name>
		<filter-class>org.powerstone.ca.CAFilter</filter-class>
		<init-param>
			<param-name>LOG_IN_URL</param-name>
			<param-value>/login.do</param-value>
		</init-param>
		<init-param>
			<param-name>ERROR_URL</param-name>
			<param-value>/hasNoRight.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PS_OpenSessionInViewFilter</filter-name>
		<servlet-name>dreambike</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PS_OpenSessionInViewFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>DreamBike_OpenSessionInViewFilter</filter-name>
		<servlet-name>dreambike</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Encoding_Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CA_Filter</filter-name>
		<servlet-name>dreambike</servlet-name>
	</filter-mapping>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>
			org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>dreambike</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dreambike</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.does</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
		<taglib-location>/WEB-INF/c-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
		<taglib-location>/WEB-INF/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt_rt</taglib-uri>
		<taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://www.springframework.org/tags</taglib-uri>
		<taglib-location>/WEB-INF/spring.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>
			http://www.springmodules.org/tags/commons-validator
		</taglib-uri>
		<taglib-location>
			/WEB-INF/spring-commons-validator.tld
		</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://www.powerstone.org/powerstone/ca</taglib-uri>
		<taglib-location>/WEB-INF/powerstone-ca.tld</taglib-location>
	</taglib>
</web-app>